* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App {
  /* overflow-x: hidden; */
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}