.network-list {
    box-sizing: border-box;
    position: relative;
    width: 70%;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 23%);
    grid-gap: 10px;
    height: 100%;
}

.network-father {
    text-align: center;
}

.network-father .ad {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 200px;
    top: 20px;
    background: url('https://source.unsplash.com/random') no-repeat center center;
    background-size: cover;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 300px) and (max-device-width: 549px) {

    .the-series {
        text-align: center;
    }

    .network-father {
        display: inline-block;
    }

    .network-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}

/* personal style mobile*/
@media only screen and (min-device-width: 550px) and (max-device-width: 776px) {
    .the-series {
        text-align: center;
    }

    .network-father {
        display: inline-block;
    }

    .network-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
    }

}


/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .the-series {
        text-align: center;
    }

    .network-father {
        display: inline-block;
    }

    .network-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 95%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .the-series {
        text-align: center;
    }

    .network-father {
        display: inline-block;
    }

    .network-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 95%;
    }
}