.one-crew .MuiCardContent-root p,
.one-crew .MuiCardContent-root a,
.one-crew .MuiCardContent-root h1,
.one-crew .MuiCardContent-root h2,
.one-crew .MuiCardContent-root h3,
.one-crew .MuiCardContent-root h4,
.one-crew .MuiCardContent-root h5,
.one-crew .MuiCardContent-root h6 {
    color: #333;
}

.one-crew {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    position: relative;
    background-color: rgb(188, 190, 192);
    margin-bottom: 150px;
    /* background: #1f4b47; */
}

.one-crew .thumbnail img {
    height: 320px;
    width: 100%;
}