.schedule {
    position: absolute;
    top: 240px;
    right: 13px;
    width: 31%;
    margin-bottom: 300px;
}

.schedule th {
    background-color: #3F3F3F;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0;
}

table span {
    margin-bottom: 8px;
}

.hour {
    padding: 0.9em 0 .9em 0.4em;
}

table tbody th,
table tbody td {
    padding: 0.4333333333rem 0.5666666667rem 0.5666666667rem;
}

table tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f1f1f1;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0.4em;
    width: 100%;
    height: 4em;
    color: #3C948B;
}

td:first-child {
    width: 20%;
}

.time,
.network {
    display: block;
    font-size: 0.9rem;
}

.showname {
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 8px;
}

.epname {
    font-size: 0.8em;
}

.schedule h1 {
    font-size: 1.8em;
    position: relative;
    left: -2em;
}