:root {
    --ease: all 0.5s ease-out;
    --primary-color: #444;
    --sec-color: #f1d455;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.series-list {
    box-sizing: border-box;
    position: relative;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 24.2%);
    grid-gap: 10px;
    height: 100%;
}

/* .child-show:first-of-type,
.child-show:nth-of-type(2),
.child-show:nth-of-type(3) {
    width: 70%;
} */

.child-show {
    position: relative;
    margin-bottom: 1em;
    display: inline-block;
}

.child-show img {
    width: 345px;
    height: 240px;
}

/* .s-gifs .box .image-box {
    width: 65%;
    height: 400px;
} */

.child-gif h3 {
    font-size: 1.3em;
}